
.nav {
  background-color: rgb(122, 7, 245);
}
.logout{
  background-color: white;
}
.cards-container {
  text-align: center;
  width: 200%;
  max-width: 80ch;
  /* Set maximum width to 80 characters */
  margin: auto;
  margin-top: 30px;
}

.student-details-table,
.achievements-por-table {
  width: 200%;
  background-color: black;
  color: white;
  table-layout: fixed;
  /* Set table layout to fixed */
}

.table-heading {
  color: red;
  font-weight: bold;
}

.green-text {
  color: green;
}